<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource='database.properties'/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value='${jdbc.driver}'/>
                <property name="url" value='${jdbc.cmsUrl}'/>
                <property name="username" value='${jdbc.username}'/>
                <property name="password" value='${jdbc.password}'/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--could use 'package name=com.tw.wkh.mappers' instead to prevent having to manually list each mapper; pull out non-mappers from this package-->
        <mapper class="com.tw.wkh.mappers.ProdOfMapper" />
    </mappers>
</configuration>